.Card {
  border: 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  width: 80%;
  margin-left: 20px;
  /*box-shadow: 7px 7px 5px #999999;*/
  background-color: #999;
}

.Card-head {
  /*background-color: #46a28d;*/
  border-radius: 5px;
  margin-top: 4px;
  margin-left: -9px;
  width: 120px;
  color: white;
}

.Card-head>div {
  font-weight: 600;
  text-transform: uppercase;
}

.move {
  border: 2px solid white;
  color: white;
  background-color: #449d44;
  margin-left: 80px;
  margin-bottom: 0px;
  /*border-radius: 100%;*/
  margin-top: -30px;
  -ms-transform: rotate(-7deg);
  /* IE 9 */
  -webkit-transform: rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

.Card-progress {
  background-color: #555555;
}

.Card-progress span {
  color: #555;
  font-size: 16px;
  font-weight: bolder;
}