.Column {
  height: 400px;
  border-radius: 7px;
	overflow: hidden;
  border: 1px solid gray;
}

.Column-title {
  text-align: center;
  font-weight: bold;
  font-family:Courier New, Courier, monospace;
  font-size: 25px;
  background-color: white;  /*#46a28d;*/
	height: 40px;
	box-shadow: 0 3px 5px #555;
  color:gray;
  padding-top:7px;
}

.Column-body {
	padding-top: 5px;
	height: 90%;
  overflow-y: scroll;
}

div.row.Column-body {
  background-color: white;
}

