.Column {
  height: 400px;
  border-radius: 7px;
	overflow: hidden;
  border: 1px solid darkslategray;
}

.Column-title {
  text-align: center;
  font-weight: bold;
  font-family:Courier New, Courier, monospace;
  font-size: 20px;
  background-color:  #46a28d;
	height: 40px;
	box-shadow: 0 3px 5px #555;
  color:white;
  padding-top:7px;
}

.Column-body {
	padding-top: 5px;
	height: 90%;
  overflow-y: scroll;
}

/*
.DayRow {
  height: 30px;
  width:100%;
  border: 1px solid rgb(94, 101, 103);
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 3px;
  text-align: center;
  color:rgb(84, 79, 80);
  font-family:monospace;;
  border-radius: 5px;
  background-color: rgb(217, 223, 228);

}
.PlayerRow{
  height: 30px;
  width:100%;
  border: 1px solid rgb(94, 101, 103);
  margin-bottom: 25px;
  margin-top: 15px;
  padding-top: 3px;
  text-align: center;
  color:rgb(84, 79, 80);
  font-family:monospace;;
  border-radius: 5px;

}
*/
