body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

.progress {
  background-color:#79d6ea;
}
h4 {
  margin-top:-10px;
  margin-bottom:10px; 
}
#releaseSquare {
    position: relative;
}

