.retrospective {
	position: absolute;
	color: #111;
	background: #bbb;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	width: 550px;
	border: 5px white solid;
	text-align: center;
}

.retrospective p {
	font-size: 20px;
}

.retrospective input[type='number'] {
	color: #222;
}

.retrospective input[type='text'] {
	color: #222;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba( 0, 0, 0, 0.5);
	z-index: 202;
}